<h1>Detalles del carrito</h1>
{{#if cart}}
    <ul>
        {{#each cart.products}}
            <li>
                <p>Producto: {{ this.product.title }}</p>
                <p>Cantidad: {{ this.quantity }}</p>
                <p>Descripción: {{ this.product.description }}</p>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>Carrito no encontrado</p>
{{/if}}