<div class="container2">
    <h3>Olvidaste tu contraseña</h3>
    <form id="forcss" action="/api/sessions/forgotpassword" method="post">
        <input type="email" placeholder="Email" name="email" />
        <button type="submit">Enviar</button>
    </form>
    <div id="messageContainer"></div>
    <hr>
    <a href="/login">
        <button>Ir a Login</button>
    </a>
</div>