<div>
     <h1>Bienvenido, {{user.first_name}}</h1>
    <p>Mi perfil</p>
    <p>Nombre completo: {{user.full_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    
    <a href="/api/sessions/logout"><button>Cerrar session</button></a>
</div>