<div>
    <h1>Restaurar contraseña</h1>
    <form id="restaurar" >
        <label>Email</label>
        <input type="email" placeholder="correo" name="email"/>
    <br/><br/>

        <label>Nueva contraseña</label>
        <input name="newPassword" type="password">
        <input type="submit">

    </form>
</div>
<script src="/js/restartpassword.js"></script>